td {
  background-color: #f7d4d8;
}

body {
  background-color: #ae2333;
}

.list-item {
  padding: 10px;
  border-color: #313b8d;
  border-style: solid;
}

.list-animal-photo-block {
  text-align: center;
}

table > tbody > tr > td {
  text-align: left;
  padding: 3px;
}

#tblSearchResults {
  table-layout:fixed;
}

.detail-table > tbody > tr > td {
  padding: 1px;
}

.detail-animal-name {
  font-size: 26px;
  text-align: center;
}

table[bgcolor='#ffffff'] img {
  display: none;
}

table[bgcolor='#ffffff'] td {
  background-image: none;
}

a > img {
  max-width: 100%;
}